/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1f0f0f;
    color: #ffffff;
}

/* Navbar styles */
.navbar {
    padding: 15px;
    border-bottom: 2px solid ;
}

.navbar-brand {
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
}

.navbar-toggler-icon {
    color: #000000;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-nav .nav-link {
    color: #000000;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #e0e0e0;
}

.dropdown-menu {
    background-color: #e0e0e0;
    border: none;
}

.dropdown-menu .dropdown-item {
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f3f3f3;
    color: #ffffff;
}

.dropdown-divider {
    border-color: #000000;
}

/* Carousel styles */
.carousel {
    margin-top: 20px;
}

.carousel-inner img {
    height: 500px;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.carousel-caption h5 {
    font-size: 1.75rem;
    margin-bottom: 10px;
}

.carousel-caption p {
    font-size: 1rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

/* Custom button styles */
button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #dfdada;
    opacity: 0,5;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.25rem;
    }

    .navbar-nav .nav-link {
        font-size: 0.9rem;
    }

    .carousel-caption h5 {
        font-size: 1.5rem;
    }

    .carousel-caption p {
        font-size: 0.9rem;
    }
}
