<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <link rel="stylesheet" href="/static/css/style_1.css">
</head>
<body>
  <header></header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary w-100">

    <div class="container-fluid">
      <a class="navbar-brand" href="/templates/index.html">
        <img src="/static/img/logo.jfif" alt="Logo" width="35" height="29" class="d-inline-block align-text-top">
        Atlético Gourmet
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/calendario.html">Calendario</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Staff
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/templates/staff.html">Ver equipo</a></li>
              <li><a class="dropdown-item" href="/templates/modificar_equipo.html">Modificar equipo</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/templates/sumar_integrante.html">Sumar Integrante</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Inventario
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/templates/inventario.html">Ver ingredientes</a></li>
              <li><a class="dropdown-item" href="/templates/modificar_lista.html">Modificar lista mensual</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/templates/sumar_ingrediente.html">Sumar Integrediente</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cuentas 
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/templates/modificar_gastos.html">Modificar gastos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/templates/sumar_gasto.html">Sumar gastos </a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>

</header>
<div class="container mt-5">
  <h2>Lista de Ingredientes</h2>
  <div class="row" id="ingredient-cards">
      <!-- Aquí se agregarán las cards dinámicamente -->
      <div class="col-md-4 mb-3">
          <div class="card">
              <img src="/static/img/zanahoria.avif" class="card-img-top" alt="Imagen del Ingrediente">
              <div class="card-body">
                  <h5 class="card-title">Nombre del Ingrediente</h5>
                  <p class="card-text">Cantidad: 10 kg</p>
                  <a href="#" class="btn btn-primary">Modificar</a>
                  <a href="#" class="btn btn-danger">Borrar</a>
              </div>
          </div>
      </div>
      <!-- Más cards aquí -->
  </div>
</div>

  <link rel="stylesheet" href="/bootstrap/bootstrap-5.3.3-dist/css/bootstrap.min.css">
  <script src="/bootstrap/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>